@use "../helpers/global-variables" as *;

body {
    font-family: #{$font-family};
    font-size: $main-font-size;
    padding: 2.5rem;
    background-color: lighten(map-get($map: $neutral-colors, $key: "Grayish Blue"), 34.5);
}
